
<!-- <%-include homepage.ejs%> -->
<!-- <div class="col-md-6 container jumbotron">
        <p>Weight=<%= data.weight %></p>
        <p>Height=<%= data.height %></p>
        <p>Value of Body Mass Index =<%= data.index %></p>
</div> -->